.menumainitem {
    font-size: 16px;
    color: #383838;
    font-weight: bold;
}

.yamm-content li{
    list-style: none;
    color:black;
}

.yamm-content a{
    list-style: none;
    color:black;
}
.submenumainitem{
    font-size: 13px;
    color: #383838;
    font-weight: bold;
    font-size: 13px;
    color: #383838;
    font-weight: bold;
    margin: 16px 0px 0px;
    /* float: left; */
    width: 100%;
    display: block;
}

.mainmenucontainer{
    background: #fed700;
    padding: 0% 100px;
}